parameters:
  editorUrl: ''
  editorUrlTitle: '%%file%%:%%line%%'
  checkMissingOverrideMethodAttribute: true
  parallel:
  	maximumNumberOfProcesses: 4
  	minimumNumberOfJobsPerProcess: 1
  level: 10
  paths:
    - src
#    - tst # disabled, because there is PHP 8.5 syntax in tests
  fileExtensions:
    - php
  tmpDir: var/cache/.phpstan
