parameters:
  editorUrl: ''
  editorUrlTitle: '%%file%%:%%line%%'
  checkMissingOverrideMethodAttribute: true
  checkMissingOverridePropertyAttribute: true
  parallel:
  	maximumNumberOfProcesses: 4
  	minimumNumberOfJobsPerProcess: 1
  level: 10
  paths:
    - src
    - tests
  stubFiles:
    - stubs/Ds/Hashable.stub
  fileExtensions:
    - php
  tmpDir: var/cache/.phpstan
